@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  background: #dfdfdf;
}

.container {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background: white;
  border-radius: 5px;
}

form {
  display: inline-block;
}

input {
  padding: 4px 15px 4px 5px;
}

#button {
  display: inline-block;
  background-color: #fc999b;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
  vertical-align: middle;
}

ol li:nth-child(even) {
  background: #dfdfdf;
}

.strike {
  text-decoration: line-through;
  opacity: 0.5;
}

li:hover {
  cursor: pointer;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}

li > .editButton {
  margin-right: 5px;
  float: right;
  background: #d6bd9d;
  color: #fff;
  font-weight: 800;
  border: none;
  border-radius: 3px;
}

li > .editButton:hover {
  cursor: pointer;
}

.edit-task {
  margin-right: 5px;
  background: #9dd69d;
  color: rgb(0, 0, 0);
  font-weight: 800;
  border: none;
  border-radius: 3px;
}

#modal-container {
  display: none;
}
#modal-container.visible {
  background: #2b2b2b55;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #888;
  height: 300px;
  width: 300px;
}
.modal-cross {
  padding: 10px;
}
.modal-cross:hover,
.edit-task:hover {
  cursor: pointer;
  transform: scale(1.1);
}

ol > li.new-edit {
  background: #22aa22;
}
